{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body { margin: 0; }
        </style>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        {% comment %} <link rel="stylesheet" href="./styles.css" /> {% endcomment %}
        <script defer src="{% static 'bundle.js' %}"></script>
        <title>Aerosim | Boids</title>
    </head>
{% block body %}
{% endblock %}
</html>