<body x-data="{darkMode: localStorage.getItem('theme') === 'custom_light' }">
    <div class="fixed w-full h-screen flex flex-col items-center justify-end drop-shadow-custom-shadow-1 z-10 pointer-events-none"> <!--screen-->
      <div x-data="options" class="w-full flex flex-col items-center justify-end p-[8px]">
        <div class="bg-primary flex items-center justify-center m-4"> <!--inferior buttons-->
          <div class="flex items-center justify-around pointer-events-auto">
            <button @click="$store.simulation.refresh" class="button-menu">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
                <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
              </svg>
            </button>
            <button @click="$store.simulation.instantiate" class="button-menu">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16"><path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393"/></svg>
            </button>
          </div>
        </div>

        <div x-show="open" class="w-full h-[48px] bg-secondary/80 flex items-center justify-center p-[8px]"> <!--inferior carrousel-->
          <div class="w-full h-full flex items-center justify-around pointer-events-auto">
            <button @click="apply()" class="w-[128px] button-menu">APPLY</button>
    
            <div class="button-options">
                <div>Size X</div>
                <input 
                    type="range" 
                    min="0" 
                    max="100" 
                    step="10" 
                    x-model="sizeX">
            </div>
        
            <div class="button-options">
                <div>Size Y</div>
                <input 
                    type="range" 
                    min="0" 
                    max="100" 
                    step="10" 
                    x-model="sizeY">
            </div>
        
            <div class="button-options">
                <div>Size Z</div>
                <input 
                    type="range" 
                    min="0" 
                    max="100" 
                    step="10" 
                    x-model="sizeZ">
            </div>
        
            <div class="button-options">
                <div>Partition X</div>
                <input 
                    type="range" 
                    min="1" 
                    max="10" 
                    step="1" 
                    x-model="partitionX">
            </div>
        
            <div class="button-options">
                <div>Partition Y</div>
                <input 
                    type="range" 
                    min="1" 
                    max="10" 
                    step="1" 
                    x-model="partitionY">
            </div>
        
            <div class="button-options">
                <div>Partition Z</div>
                <input 
                    type="range" 
                    min="1" 
                    max="10" 
                    step="1" 
                    x-model="partitionZ">
            </div>
          </div>
        </div>
        <div class="w-full h-[64px] bg-primary flex items-center justify-center"> <!--inferior buttons-->
            <div class="w-full h-full flex items-center justify-around pointer-events-auto">
                <button @click="open = !open" class="button-menu w-[25%]">VISUAL</button>
                <button @click="open = !open" class="button-menu w-[25%]">DOMAIN</button>
                <button @click="open = !open" class="button-menu w-[25%]">CAMERA</button>
                <button @click="open = !open" class="button-menu w-[25%]">CONFIG</button>
            </div>
        </div>
      </div>
    </div>
    <canvas id="canvas"></canvas>
  </body>