<div x-data="{ darkMode: localStorage.getItem('theme')}" class="relative w-full h-full p-2">
    <div class="w-full h-full
                bg-secondary drop-shadow-custom-shadow
                text-primary_text
                flex items-center justify-between">
        <div class="w-[256px] h-full text-secondary_text hover:bg-primary hover:text-primary_text hover:drop-shadow-custom-shadow flex items-center justify-evenly">content</div>
        <div class="w-[calc(100%-512px)] h-full flex items-center justify-evenly">
            <button class="w-[calc(100%/2)] h-full text-secondary_text hover:bg-primary hover:text-primary_text hover:drop-shadow-custom-shadow">add</button>
            <button class="w-[calc(100%/2)] h-full text-secondary_text hover:bg-primary hover:text-primary_text hover:drop-shadow-custom-shadow">remove</button>
        </div>
        <button @click="darkMode = !darkMode; localStorage.setItem('theme', darkMode ? 'custom_light' : 'custom_dark'); document.documentElement.setAttribute('data-theme', darkMode ? 'custom_light' : 'custom_dark')" class="w-[256px] h-full text-secondary_text hover:bg-primary hover:text-primary_text hover:drop-shadow-custom-shadow flex items-center justify-evenly">darkMode</button>
    </div>
</div>