@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

[data-theme='custom_light']
{
    --primary: 255, 255, 255;
    --secondary: 250, 250, 250;

    --primary_text: 20, 20, 20;
    --secondary_text: 20, 20, 20;
}

[data-theme='custom_dark']
{
    --primary: 27, 27, 27;
    --secondary: 25, 25, 25;

    --primary_text: 255, 255, 255;
    --secondary_text: 250, 250, 250;
}